{% extends 'base.html' %}

{% block content %}
    <h2> Пользователи </h2>

<p> <a href="{{ url_for('create_client') }}"> Добавить пользователя  </a> </p>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
        <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Category</th>
                <th>Sex</th>

            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td> {{ client[0] }}</td>
                    <td> {{ client[1] }} <a href="{{ url_for('get_client', client_id=client[0]) }}"> <em>(редактировать) </em> </a></td>
                    <td>{{ client[2] }}</td>
                    <td> {{ client[3] }} </td>
                    <td> {{ client[4] }} </td>
                    <td> {{ client[5] }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}